## Install the needed packages

In [1]:
#Geocode Package

import sys
!{sys.executable} -m pip install geocoder
print('package installed')

Requirement already satisfied: geocoder in /Users/rafaelsanchezparra/opt/anaconda3/lib/python3.8/site-packages (1.38.1)
Requirement already satisfied: click in /Users/rafaelsanchezparra/opt/anaconda3/lib/python3.8/site-packages (from geocoder) (7.1.2)
Requirement already satisfied: ratelim in /Users/rafaelsanchezparra/opt/anaconda3/lib/python3.8/site-packages (from geocoder) (0.1.6)
Requirement already satisfied: requests in /Users/rafaelsanchezparra/opt/anaconda3/lib/python3.8/site-packages (from geocoder) (2.24.0)
Requirement already satisfied: six in /Users/rafaelsanchezparra/opt/anaconda3/lib/python3.8/site-packages (from geocoder) (1.15.0)
Requirement already satisfied: future in /Users/rafaelsanchezparra/opt/anaconda3/lib/python3.8/site-packages (from geocoder) (0.18.2)
Requirement already satisfied: decorator in /Users/rafaelsanchezparra/opt/anaconda3/lib/python3.8/site-packages (from ratelim->geocoder) (4.4.2)
Requirement already satisfied: certifi>=2017.4.17 in /Users/rafaelsanchezparra/opt/anaconda3/lib/python3.8/site-packages (from requests->geocoder) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/rafaelsanchezparra/opt/anaconda3/lib/python3.8/site-packages (from requests->geocoder) (1.25.11)
Requirement already satisfied: chardet<4,>=3.0.2 in /Users/rafaelsanchezparra/opt/anaconda3/lib/python3.8/site-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /Users/rafaelsanchezparra/opt/anaconda3/lib/python3.8/site-packages (from requests->geocoder) (2.10)
package installed

In [2]:
# install geopy package

!conda install -c conda-forge geopy --yes
print('package installed')

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /Users/rafaelsanchezparra/opt/anaconda3

  added / updated specs:
    - geopy


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    geopy-2.1.0                |     pyhd3deb0d_0          64 KB  conda-forge
    ------------------------------------------------------------
                                           Total:          64 KB

The following packages will be UPDATED:

  geopy                                  2.0.0-pyh9f0ad1d_0 --> 2.1.0-pyhd3deb0d_0



Downloading and Extracting Packages
geopy-2.1.0          | 64 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
package installed

In [3]:
# install folium package

!conda install -c conda-forge folium=0.5.0 --yes
print('package installed')

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

package installed

In [4]:
#import libraries

import pandas as pd  # library for data analsysis
import requests  # library to handle requests
import geocoder
import json  # library to handle JSON files
from pandas.io.json import json_normalize  # tranform JSON file into a pandas dataframe
import numpy as np  # library to handle data in a vectorized manner
import matplotlib.cm as cm  # Matplotlib and associated plotting modules
import matplotlib.colors as colors
from geopy.geocoders import Nominatim  # convert an address into latitude and longitude values
from sklearn.cluster import KMeans  # import k-means from clustering stage
import folium  # map rendering library

In [5]:
# Get neighborhood data: 'cod_distrito', 'distrito', 'cod_barrio', 'barrio' 

neighborhoods = pd.read_csv('BARRIOS.csv',sep=';')
neighborhoods.head()

,Codigo de barrio,Codigo de distrito al que pertenece,Nombre de barrio,Superficie (m2),Perimetro (m)
0,1,1,PALACIO,1471085,5754
1,1,2,IMPERIAL,967500,4557
2,1,3,PACIFICO,750065,4005
3,1,4,RECOLETOS,870857,3927
4,1,5,EL VISO,1708046,5269

In [6]:
boroughs = pd.read_csv('DISTRITOS.csv',sep=';')
boroughs.head()

,Perimetro (m),Codigo de distrito,Nombre de distrito,Numero de barrios,Superficie (m2)
0,10304,1,CENTRO,6,5231264
1,12834,2,ARGANZUELA,7,6466400
2,9523,3,RETIRO,6,5465307
3,10862,4,SALAMANCA,6,5387243
4,13401,5,CHAMARTIN,6,9170122

In [11]:
neighborhoods = neighborhoods.rename(columns={'Codigo de distrito al que pertenece': 'Codigo de distrito'})
neighborhoods = neighborhoods.drop(columns={'Superficie (m2)', 'Perimetro (m)'})

neighborhoods

     Codigo de barrio  Codigo de distrito      Nombre de barrio
0                   1                   1  PALACIO
1                   1                   2  IMPERIAL
2                   1                   3  PACIFICO
3                   1                   4  RECOLETOS
4                   1                   5  EL VISO
..                ...                 ...                   ...
126                 7                  20  CANILLEJAS
127                 8                   8  EL GOLOSO
128                 8                  15  ATALAYA
129                 8                  20  EL SALVADOR
130                 9                  15  COSTILLARES

[131 rows x 3 columns]

In [12]:
boroughs = boroughs.drop(columns={'Superficie (m2)', 'Perimetro (m)','Numero de barrios'})

boroughs

    Codigo de distrito    Nombre de distrito
0                    1  CENTRO
1                    2  ARGANZUELA
2                    3  RETIRO
3                    4  SALAMANCA
4                    5  CHAMARTIN
5                    6  TETUAN
6                    7  CHAMBERI
7                    8  FUENCARRAL-EL PARDO
8                    9  MONCLOA-ARAVACA
9                   10  LATINA
10                  11  CARABANCHEL
11                  12  USERA
12                  13  PUENTE DE VALLECAS
13                  14  MORATALAZ
14                  15  CIUDAD LINEAL
15                  16  HORTALEZA
16                  17  VILLAVERDE
17                  18  VILLA DE VALLECAS
18                  19  VICALVARO
19                  20  SAN BLAS-CANILLEJAS
20                  21  BARAJAS

In [14]:
boroughs_mad = pd.merge(boroughs, neighborhoods, how="left", on=["Codigo de distrito"])
boroughs_mad = boroughs_mad.drop(columns={'Codigo de barrio'})
boroughs_mad

     Codigo de distrito    Nombre de distrito      Nombre de barrio
0                     1  CENTRO                PALACIO
1                     1  CENTRO                EMBAJADORES
2                     1  CENTRO                CORTES
3                     1  CENTRO                JUSTICIA
4                     1  CENTRO                UNIVERSIDAD
..                  ...                   ...                   ...
126                  21  BARAJAS               ALAMEDA DE OSUNA
127                  21  BARAJAS               AEROPUERTO
128                  21  BARAJAS               CASCO H.BARAJAS
129                  21  BARAJAS               TIMON
130                  21  BARAJAS               CORRALEJOS

[131 rows x 3 columns]

In [15]:
boroughs_mad = boroughs_mad.rename(columns={'Nombre de distrito':'borough','Nombre de barrio':'neighborhood','Codigo de distrito':'borough code'})
boroughs_mad

     borough code               borough          neighborhood
0               1  CENTRO                PALACIO
1               1  CENTRO                EMBAJADORES
2               1  CENTRO                CORTES
3               1  CENTRO                JUSTICIA
4               1  CENTRO                UNIVERSIDAD
..            ...                   ...                   ...
126            21  BARAJAS               ALAMEDA DE OSUNA
127            21  BARAJAS               AEROPUERTO
128            21  BARAJAS               CASCO H.BARAJAS
129            21  BARAJAS               TIMON
130            21  BARAJAS               CORRALEJOS

[131 rows x 3 columns]

In [16]:
boroughs_mad['Latitude'] = 0.0
boroughs_mad['Longitude'] = 0.0
boroughs_mad

,borough code,borough,neighborhood,Latitude,Longitude
0,1,CENTRO,PALACIO,0.0,0.0
1,1,CENTRO,EMBAJADORES,0.0,0.0
2,1,CENTRO,CORTES,0.0,0.0
3,1,CENTRO,JUSTICIA,0.0,0.0
4,1,CENTRO,UNIVERSIDAD,0.0,0.0
...,...,...,...,...,...
126,21,BARAJAS,ALAMEDA DE OSUNA,0.0,0.0
127,21,BARAJAS,AEROPUERTO,0.0,0.0
128,21,BARAJAS,CASCO H.BARAJAS,0.0,0.0
129,21,BARAJAS,TIMON,0.0,0.0
130,21,BARAJAS,CORRALEJOS,0.0,0.0

In [18]:
# call for arcgis to assess the coordinates for each Neighborhood
for i in range(0, len(boroughs_mad)):
    dir = boroughs_mad.iloc[i,2] + ', ' + boroughs_mad.iloc[i,1] + ', madrid, españa'  # "Neighborhood, Borough, 'madrid', 'españa'"
    g = geocoder.arcgis(dir)
    boroughs_mad.iloc[i,3] = g.latlng[0]
    boroughs_mad.iloc[i,4] = g.latlng[1]
    
boroughs_mad

,borough code,borough,neighborhood,Latitude,Longitude
0,1,CENTRO,PALACIO,40.40958,-3.88009
1,1,CENTRO,EMBAJADORES,40.39152,-3.69289
2,1,CENTRO,CORTES,40.41607,-3.69893
3,1,CENTRO,JUSTICIA,40.42479,-3.69308
4,1,CENTRO,UNIVERSIDAD,40.42565,-3.70726
...,...,...,...,...,...
126,21,BARAJAS,ALAMEDA DE OSUNA,40.45818,-3.58953
127,21,BARAJAS,AEROPUERTO,40.46148,-3.57666
128,21,BARAJAS,CASCO H.BARAJAS,40.36349,-5.14696
129,21,BARAJAS,TIMON,40.47366,-3.57777
130,21,BARAJAS,CORRALEJOS,40.46540,-3.61164

In [ ]:
# Foursquare credentials
CLIENT_ID = 'MDAMDIPVJHB45E35XZJ0KWNZK5MZR3FLF5NEZEFMISW143Z5' # your Foursquare ID
CLIENT_SECRET = 'VLTF04RP4JI2W2QGRXEQVW0J51KXA2H0PR0DY3V5YE3J3EGH' # your Foursquare Secret
ACCESS_TOKEN = 'DNODNBNHFAMUNV0MCNQUWXR4RRSCD4QPPAUTQNWZLAEC544E' # your FourSquare Access Token