## Install the needed packages

In [3]:
#Geocode Package

import sys
!{sys.executable} -m pip install geocoder
print('package installed')

Requirement already satisfied: geocoder in /Users/rafaelsanchezparra/opt/anaconda3/lib/python3.8/site-packages (1.38.1)
Requirement already satisfied: ratelim in /Users/rafaelsanchezparra/opt/anaconda3/lib/python3.8/site-packages (from geocoder) (0.1.6)
Requirement already satisfied: click in /Users/rafaelsanchezparra/opt/anaconda3/lib/python3.8/site-packages (from geocoder) (7.1.2)
Requirement already satisfied: requests in /Users/rafaelsanchezparra/opt/anaconda3/lib/python3.8/site-packages (from geocoder) (2.24.0)
Requirement already satisfied: six in /Users/rafaelsanchezparra/opt/anaconda3/lib/python3.8/site-packages (from geocoder) (1.15.0)
Requirement already satisfied: future in /Users/rafaelsanchezparra/opt/anaconda3/lib/python3.8/site-packages (from geocoder) (0.18.2)
Requirement already satisfied: decorator in /Users/rafaelsanchezparra/opt/anaconda3/lib/python3.8/site-packages (from ratelim->geocoder) (4.4.2)
Requirement already satisfied: idna<3,>=2.5 in /Users/rafaelsanchezparra/opt/anaconda3/lib/python3.8/site-packages (from requests->geocoder) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /Users/rafaelsanchezparra/opt/anaconda3/lib/python3.8/site-packages (from requests->geocoder) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in /Users/rafaelsanchezparra/opt/anaconda3/lib/python3.8/site-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/rafaelsanchezparra/opt/anaconda3/lib/python3.8/site-packages (from requests->geocoder) (1.25.11)
package installed

In [4]:
# install geopy package

!conda install -c conda-forge geopy --yes
print('package installed')

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

package installed

In [5]:
# install folium package

!conda install -c conda-forge folium=0.5.0 --yes
print('package installed')

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

package installed

In [8]:
#import libraries

import pandas as pd  # library for data analsysis
import requests  # library to handle requests
import geocoder
import json  # library to handle JSON files
from pandas.io.json import json_normalize  # tranform JSON file into a pandas dataframe
import numpy as np  # library to handle data in a vectorized manner
import matplotlib.cm as cm  # Matplotlib and associated plotting modules
import matplotlib.colors as colors
from geopy.geocoders import Nominatim  # convert an address into latitude and longitude values
from sklearn.cluster import KMeans  # import k-means from clustering stage
import folium  # map rendering library

In [13]:
# Get neighborhood data: 'cod_distrito', 'distrito', 'cod_barrio', 'barrio' 

neighborhoods = pd.read_csv('BARRIOS.csv',sep=';')
neighborhoods.head()

,Codigo de barrio,Codigo de distrito al que pertenece,Nombre de barrio,Superficie (m2),Perimetro (m)
0,1,1,PALACIO,1471085,5754
1,1,2,IMPERIAL,967500,4557
2,1,3,PACIFICO,750065,4005
3,1,4,RECOLETOS,870857,3927
4,1,5,EL VISO,1708046,5269

In [14]:
boroughs = pd.read_csv('DISTRITOS.csv',sep=';')
boroughs.head()

,Perimetro (m),Codigo de distrito,Nombre de distrito,Numero de barrios,Superficie (m2)
0,10304,1,CENTRO,6,5231264
1,12834,2,ARGANZUELA,7,6466400
2,9523,3,RETIRO,6,5465307
3,10862,4,SALAMANCA,6,5387243
4,13401,5,CHAMARTIN,6,9170122